/*All base formatting is done for desktop view*/
#word-container {
    width: 350px;
}

#loading-word {
    text-align: center;
    height: 30px;
}

#word {
    text-align: center;
    color: white;
}

#user-input {
    width: fit-content;
}

#guess-text {
    color: white;
}

#game-container {
    margin-top: 25px;
}

#guessed-letters-title {
    color: white;
    margin-top: 10px;
}

.inner-container {
    background-color: #1b1b1b;
    padding: 8px;
}

#guessed-letters {
    color: gray;
}

#lives-left-title {
    color: white;
    margin-top: 10px;
    display: inline-block;
}

#lives-left-placeholder {
    display: inline-block;
}

#lives-left {
    color: gray;
    display: inline-block;
}

#image-container {
    width: 300px;
}

#image {
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#game-over-container {
    margin-top: 20px;
}

#you-won-text {
    color: green;
    text-align: center;
}

#you-lost-text {
    color: red;
    text-align: center;
}

#new-game-container {
    margin-top: 25px;
}

/*Special formatting on phones devices*/
@media (max-width: 600px) {
    #word-container {
        width: 80%;
    }

    #new-game-container {
        margin-left: 30%;
        width: 60%;
    }

}
