body {
    font-family: 'Open Sans', sans-serif;
    background-color: #222222;
}

.title {
    font-family: 'Noto Serif', serif;
    color: #ffe140;
    text-align: center;
    margin-top: 10px;
}

.online {
    color: #ffe140;
    text-align: center;
}

.select-game-container {
    background-color: #161616;
    padding: 16px;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.github-container {
    margin-top: 50vh;/*This is a workaround for now until i figure out how i can align this container to the bottom of the page while still filling out the whole viewport*/
    float: left;
    padding: 20px;
}